*{
    padding: 0;
    margin: 0;
}

.menu{
    background-color: rgb(255, 255, 255);
    height: 40px;
    position:fixed;
   top: 0;
   width: 100%;
}
.menu a{
    text-decoration: none; 
font-size: 16px;
color: rgb(0, 0, 0);
padding-right: 23px;
}

.sub{
margin-top: 5px;
    padding-left: 69px;
}
body{
    background-color: rgb(255, 255, 255);
 
  
}

.descripcion{
    margin-bottom:  5px;
    color: gray;
}
.Sexo{
    margin-bottom: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.precio{
    font-size: 25px;
}


.productos{
  display: grid;
  grid-template-columns: repeat(5,5fr);

  gap: 5px 5px;
 
}


.item{
    background-color: rgb(255, 255, 255);
}



h2{
    text-align: center;
    margin-top: 30px;
}

.logo{
    
    font-size: 18px;
    padding-right: 70px;
    font-weight: bold;
}

/*footer*/
.pie{
    background-color: black;
    color:white;
    text-align: center;
    height: 40px;
  
   bottom:0;

}