*{
    padding: 0;
    margin: 0;
}

.menu{
    background-color: black;
    height: 40px;
    text-align: center;
}
.menu a{
    text-decoration: none; 
font-size: 30px;
color: white;
padding-right: 23px;
}
body{
    background-color: rgb(255, 255, 255);
  
}
.productos{
    height: 400px;
}
h2{
    text-align: center;
    margin-top: 30px;
}

/*footer*/
.pie{
    background-color: black;
    color:white;
    text-align: center;
    height: 40px;
    position:sticky;
    top: 0;
}